* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  overflow:scroll;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

.hn ul {
  padding: 0;
  list-style: none;
}

.hn .header {
  position: fixed;
  background-color: rgb(250, 255, 230);
  top: 0px;
  width: 100%;
}

.hn .fixed {
  position: fixed;
  width: 100%;
  top: 20px;
}

.hn .inner {
  width: 800px;
  margin: 0 auto;
  padding: 10px 0;
  /*border-bottom: 1px solid #333;*/
}


.hn .list {
  width: 800px;
  margin: 50px auto;
}

.hn .story-list {
  margin-left: -18px;
}

.hn .story-list li {
  padding: 10px 0;
}

.hn .story {
  width: 800px;
  margin: 10px auto;;
  padding: 10px 0;
  background-color: #fff;
}

.hn .score {
  color: #666;
  font-size: 1.1em;
  font-weight: 700;
  width: 60px;
  height: 60px;
  text-align: center;
  float:left;
  padding-top: 10px;
}

.hn .meta {
  color: #aaa;
}

.hn .meta a {
  color: #096;
  cursor: pointer;
}

.hn.item .list {
  padding: 80px 10px;
}

.hn .comment {
  padding: 5px 10px;
  border-left: 1px solid #eeeeee;
}

.hn .text {
  padding: 10px 0;
}

.hn .toggle {
  color: #096;
  padding-bottom: 10px;
  cursor: pointer;
}

.hn .collapsed {
  display: none;
}

.hn .toggle:before {
  content: ' [-] '
}

.hn .toggle.closed:before {
  content: ' [+] '
}

.hn .toggle.closed:after{
  content: ' (...)'
}

.hn .loading {
  padding-top: 20px;
}

.hn .more {
  width: 800px;
  margin: 0 auto;
}

.hn .more a {
  cursor: pointer;
  padding-bottom: 150px;
}


